In [ ]:
##作业5-1 存入数据库
import pandas as pd
import pymssql as pm


df = pd.read_csv(r'C:\Users\W10\Dropbox\bigdata_econ_2023\data\assignment_sql\address.txt',names = ['address'])

# 连接到 SQL Server 数据库
conn = pm.connect(server='10.0.20.145',user='louying',password='123456',database='Students')
# 创建一个游标
cur = conn.cursor()

#判断是否有数据表，有的话就执行删除命令，然后创建数据表
cur.execute("""
CREATE TABLE lyaddress(
    address VARCHAR(50) NOT NULL
)
""")


# 将数据插入数据库表
for i in range(len(data)):
    add = str(data['address'].to_list()[i])
    cur.execute("INSERT INTO lyaddress VALUES ('%s')" %(add))

# 提交更改
conn.commit()

# 关闭游标和数据库连接
cur.close()
conn.close()

In [ ]:
#作业5-2 读取数据
def ExecQuery(sql):
    conn = pm.connect(server='10.0.20.145',user='louying',password='123456',database='Students', charset='cp936')
    cur = conn.cursor()
    count=cur.execute(sql)         # cursor.execute(sql)执行查询语句并返回查询到的个数
    print(cur.fetchone())          #输出结果第一行
    # resList=cur.fetchall()       # cursor.fetchall()查询时获取结果集中的所有行(嵌套元组)，一行构成一个元组
    keys=[]
    for field in cur.description:  # cursor.description来获取列名的相关信息，遍历添加列名
        keys.append(field[0])
    print('A')
    data=pd.DataFrame(cur.fetchall(),columns=keys)
    print('C')
    cur.close()
    conn.close()
    return data
sql = '''
    SELECT p.address
    FROM [Students].[dbo].[lyaddress] AS p
    '''
data = ExecQuery(sql)
address_list = data['address'].to_list()

In [ ]:
def get_geocode(location):
    url = "https://restapi.amap.com/v3/geocode/geo"
    params = {
        "key": "ee31b8a2e80936579c00e71a32f7bf3a",
        "address": location
    }
    response = requests.get(url, params=params)
    data = response.json()
    if data["status"] == "1" and data["count"] != "0":
        return data["geocodes"][0]['location'], data["geocodes"][0]['city'], data["geocodes"][0]['district']
    else:
        return None

loc_list = []
for i in address_list:
    loc = get_geocode(i)
    loc_list.append(loc)

In [ ]:
conn = pm.connect(server='10.0.20.145',user='louying',password='123456',database='Students')
curr= conn.cursor()
curr.execute("AlTER TABLE lyaddress ADD loc FLOAT")
# 将数据插入数据库表
for i in range(len(loc_list)):
    aloc = str(loc_list[i])
    curr.execute("INSERT INTO lyaddress VALUES ('%f')" %(aloc))

# 提交更改
conn.commit()
# 关闭游标和数据库连接
cur.close()
conn.close()